Assignment -  1 | Unit - 1

Question - 1 | Write a Python statement that calculates and prints the area of a triangle with base 8
and height 5.
(Area = 1/2 * base * height)

In [3]:
base = int(input("Enter value of base : "))
height = int(input("Enter value of height : "))

area = 0.5 * base * height
print("Area of triangle = ", area)

Enter value of base : 8
Enter value of height : 5
Area of triangle =  20.0

Question - 2 | There are 3600 seconds in an hour. Write a Python statement that calculates and
prints the number of seconds in 12 hours and 30 minutes.

In [2]:
hours, min = int(input("Enter hours ")), int(input("Enter Minutes"))
sec = hours * 3600 + min * 60
print(f"Total seconds = {sec}")

Enter hours 12
Enter Minutes30
Total seconds = 45000

Question - 3 | Write a Python statement that converts 75 degrees Fahrenheit to Celsius using the
formula C = (F - 32) * 5/9 and prints the result.

In [4]:
fahr = int(input("Enter temperature in Fahrenheit: "))
cel = (fahr - 32) * 5/9
print(f"Temperature in Celsius = {cel}")

Enter temperature in Fahrenheit : 75
Temperature in Celsius = 23.88888888888889

Question - 4 | Write a Python statement that converts 15 kilometers to miles. (1 mile = 1.60934
kilometers)

In [6]:
km = int(input("Enter distance in Kilometers: "))
miles = km * 0.621371
print(f"Distance in miles = {miles}")

Enter distance in Kilometers:15
Distance in miles = 9.320565

Question - 5 | Write a Python expression that extracts the substring “programming” from the string
“Python programming is the best" and then prints the result.

In [8]:
string = "Python programming is the best"
sub = string[6:18]
print(sub)

 programming

Question - 6 | Write a Python expression that checks if the string “racecar” is a palindrome and
then prints the result (True or False)

In [10]:
str = input("Enter a string to check if it is palindrome ")
if str == str[::-1]:
    print("True")
else:
    print("False")

Enter a string to check if it is palindrome racecar
True

Question - 7 | Write a Python statement that splits the string "apple,banana,orange" into a list of
fruits and then prints the result.

In [11]:
fruits = "apple,banana,orange".split(',')
print(fruits)

['apple', 'banana', 'orange']

Question - 8 | Write a Python expression that creates a new list containing only the even numbers
from the list my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10].

In [12]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even = [x for x in my_list if x % 2 == 0]
print(even)

[2, 4, 6, 8, 10]

Question - 9 | Write a Python expression that removes duplicates from the list my_list = [1, 2, 2, 3,
3, 3, 4, 5].

In [13]:
my_list = [1, 2, 2, 3, 3, 3, 4, 5]
print(set(my_list))

{1, 2, 3, 4, 5}

Question - 10 | Write a Python expression that unpacks the tuple my_tuple = (10, "apple", 3.14) into
three variables a, b, and c.

In [14]:
my_tuple = (10, "apple", 3.14)
a, b, c = my_tuple
print(a)
print(b)
print(c)

10
apple
3.14

Question - 11 | Write a Python expression that finds the maximum value in the tuple my_tuple = (5,
2, 8, 1, 9).

In [15]:
my_tuple = (5, 2, 8, 1, 9)
print(max(my_tuple))

9

Question - 12 | Write a Python expression that creates a new dictionary by inverting the keys and
values of the dictionary my_dict = {1: "apple", 2: "banana", 3: "orange"}, assuming
all values are unique

In [18]:
my_dict = {1: "apple", 2: "banana", 3: "orange"}
new_dict = {v:k for k,v in my_dict.items()}
print(new_dict)

{'apple': 1, 'banana': 2, 'orange': 3}

Question - 13 | Write a Python expression that removes the key-value pair with the key "age" from
the dictionary my_dict = {"name": "Alice", "age": 30, "city": "New York"}.

In [22]:
my_dict = {"name": "Alice", "age": 30, "city": "New York"}
my_dict.pop("age")
print(my_dict)

{'name': 'Alice', 'city': 'New York'}

Question - 14 | Write a Python expression that creates a new set containing all the elements from
set1 = {1, 2, 3, 4} that are not present in set2 = {3, 4, 5, 6}.

In [23]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
print(set1 - set2)

{1, 2}

Question - 15 | Write a Python expression that creates a new set containing all the elements from
set1 = {1, 2, 3, 4} and set2 = {3, 4, 5, 6}, removing any duplicates.

In [25]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
print(set1 | set2)

{1, 2, 3, 4, 5, 6}